.SearchPage {
    /* #1 Search/Default */


    position: relative;
    width: 1280px;
    height: 1024px;

    /*  #F5F5F5 */

    background: #F5F5F5;
}

.Search {
    /* Search */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 624px;
    height: 121px;
    left: calc(50% - 624px/2);
    top: 142px;
}

.SearchFrame {
    /* Frame 11 */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px;

    position: static;
    width: 199px;
    height: 65px;
    left: 212.5px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 8px 0px;
}

.SearchHeader {
    /* Header */


    position: static;
    width: 159px;
    height: 33px;
    left: 0px;
    top: 16px;

    /* H3 Light 26px */

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    text-align: center;

    /* #0F1010 */

    color: #0F1010;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.Icon {
    /* ICON */


    position: absolute;
    left: 20%;
    right: 20%;
    top: 9.38%;
    bottom: 9.38%;

    /* #3A3B3B */

    background: #3A3B3B;
}

.SearchBar {
    /* Search */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 624px;
    height: 48px;
    left: 0px;
    top: 73px;

    /* #E8E8E8 */

    border: 1px solid #E8E8E8;
    border-radius: 2px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 8px 0px;
}

.SearchInputBox {
    /* Input/Square/Hint */


    position: static;
    width: 624px;
    height: 48px;
    left: 0px;
    top: 0px;

    /*  #FFFFFF */

    background: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.SearchActionsLeft {
    /* Actions/Left */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px;

    position: absolute;
    width: 294px;
    height: 24px;
    left: 0px;
    top: calc(50% - 24px/2);

}

.LabelLeft {
    /* Label Left */


    position: static;
    width: 238px;
    height: 18px;
    left: 44px;
    top: calc(50% - 18px/2);

    /* Label Light 13px */

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */

    display: flex;
    align-items: center;

    /* #CCCCCC */

    color: #CCCCCC;

    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 8px;
}

.IconContainer {
    /* IconSide/Product/Default */


    position: static;
    width: 20px;
    height: 32px;
    left: 165px;
    top: 16.5px;


    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 4px;
}

.SearchIconBox {
    /* Icon24/Action/Search */


    position: static;
    width: 24px;
    height: 24px;
    left: 12px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.SearchActionsRight {
    /* Actions/Right */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    visibility: hidden;
    width: 40px;
    height: 40px;
    right: 0px;
    top: calc(50% - 40px/2);
}

.CloseIcon {
    /* Close */


    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: Material Icons, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    /* or 137% */

    display: flex;
    align-items: center;
    text-align: center;

    /* #CCCCCC */

    color: #CCCCCC;

}

.SearchResult {
    /* Row/Result/Default */


    position: static;
    width: 624px;
    height: 56px;
    left: 0px;
    top: 1px;

    /*  #FFFFFF */

    background: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 0px;

}


.ActionsLeft{

    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px;

    width: 208px;
    height: 36px;
    left: 0px;
    top: calc(50% - 36px/2);

}

.FrameTen {
    /* Frame 10 */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 184px;
    height: 36px;
    left: 12px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 8px;
}

.ActionsRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 71px;
    height: 24px;
    right: 10px;
    top: calc(50% - 24px/2);

}

.Frame17 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;

    position: static;
    width: 61px;
    height: 36px;
    right: 12px;
    top: calc(50% - 36px/2);

}

.MainResultText{
    /* 14CH DEMO BLEND */


    position: static;
    width: 140px;
    height: 18px;
    left: 0px;
    top: calc(50% - 18px/2 - 9px);

    /* Label Light 15px */

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;

    /* #0F1010 */

    color: #0F1010;

    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}

.SubResultText{
    /* Text */


    position: static;
    width: 360px;
    height: 18px;
    left: 0px;
    bottom: 0px;

    /* Label Light 13px */

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */

    display: flex;
    align-items: center;

    /* #3A3B3B */

    color: #3A3B3B;

    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}

.ListResults {
    /* List/Results */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 624px;
    height: 114px;
    left: 0px;
    top: 48px;

    /*  #FFFFFF */

    background: #FFFFFF;

    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}

.SearchRows {
    /* Search */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 624px;
    height: 162px;
    left: 0px;
    top: 73px;

    /* #E8E8E8 */

    border: 1px solid #E8E8E8;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.04));
    border-radius: 2px;

    /* Inside Auto Layout */

    flex: none;
    align-self: flex-start;
    flex-grow: 0;
    margin: 8px 0px;
}

.VolumeTop {
    /* Volume */


    position: static;
    width: 37px;
    height: 18px;
    right: 0px;
    top: calc(50% - 18px/2 + 9px);

    /* Label Light 13px */

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */

    display: flex;
    align-items: center;
    text-align: right;

    /* #0F1010 */

    color: #0F1010;
    opacity: 0.6;

    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}

.VolumeBot {
    /* Volume */


    position: static;
    width: 37px;
    height: 18px;
    right: 0px;
    top: calc(50% - 18px/2 - 9px);

    /* Label Light 13px */

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */

    display: flex;
    align-items: center;
    text-align: right;

    /* #0F1010 */

    color: #0F1010;
    opacity: 0.6;

    /* Inside Auto Layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}